@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFC119;

  --color-bg: #161616;
  --color-bg-light: #1D1D1D;
  --color-bg-gray: #232323;
  --color-bg-gray-light: #252525;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #3FFF62;
  --color-red: #FF0000;
  --color-gray: #D9D9D9;
}

.btn-primary {
  @apply rounded-lg p-3 md:p-4 uppercase focus:ring ring-primary font-extrabold text-xs md:text-base hover:transition-all hover:scale-105 duration-200
}

.text-subtitle {
  @apply font-semibold text-2xl lg:text-4xl text-center text-white
}

p {
  @apply text-white
}

.banner-black {
  @apply w-full h-28 sm:h-40 bg-bg block
}

b {
  @apply text-primary
}

.divider {
  @apply w-full bg-primary h-3
}

.box {
  @apply border-2 border-bg-gray p-6 xl:w-4/6
}

.box > p {
  @apply text-bg-gray font-medium text-xl
}