@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #FFC119;

    --color-bg: #161616;
    --color-bg-light: #1D1D1D;
    --color-bg-gray: #232323;
    --color-bg-gray-light: #252525;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-green: #3FFF62;
    --color-red: #FF0000;
    --color-gray: #D9D9D9;
}