@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #FFC119;

  --color-bg: #161616;
  --color-bg-light: #1D1D1D;
  --color-bg-gray: #232323;
  --color-bg-gray-light: #252525;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #3FFF62;
  --color-red: #FF0000;
  --color-gray: #D9D9D9;
}

@theme {  --drop-shadow-xl: white; }

.btn-primary {
  @apply rounded-lg p-4 uppercase focus:ring ring-primary font-extrabold text-base hover:transition-all hover:scale-105 duration-200
}

.text-subtitle {
  @apply font-semibold text-2xl lg:text-4xl text-center text-white
}

p {
  @apply text-white
}

.banner-black {
  @apply w-full h-28 sm:h-40 bg-bg block
}

b {
  @apply text-primary
}

.divider {
  @apply w-full bg-primary h-3
}

.box {
  @apply border-2 border-bg-gray mobile-sm:p-4 p-6 xl:w-4/6
}

.box > p {
  @apply text-bg-gray font-medium text-xl
}

.box-primary {
  @apply border-none rounded-lg bg-primary
}

.box-green {
  @apply border-none rounded-lg bg-green
}

.box-red {
  @apply border-none rounded-lg bg-red
}

.box-gray-light {
  @apply border-none rounded-lg bg-bg-gray-light
}


.item-agreement {
  @apply bg-bg-light p-6 text-left md:text-center text-white font-bold text-xl rounded-lg
}

.shadow-white-xl {
  -webkit-box-shadow: 9px 6px 250px -49px rgba(255,255,255,0.52);
  -moz-box-shadow: 9px 6px 250px -49px rgba(255,255,255,0.52);
  box-shadow: 9px 6px 250px -49px rgba(255,255,255,0.52);
}

/* Styles scroll */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 36px; 
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-light);
}

html {
  scrollbar-color: var(--color-primary) var(--color-bg-light);
}

/* Classe utilizada para os cards e animações do IntersectionObserver */
.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.from-top {
  transform: translateY(-100px);
}

.from-bottom {
  transform: translateY(100px);
}

.animate-hidden {
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.22, 1.61, 0.36, 1), opacity 0.5s ease-in-out;
}


.animate-visible  {
  opacity: 1;
  transform: translate(0, 0);
}
/* Fim das Classes*/